<!DOCTYPE html>
{% load staticfiles %}

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="http://font.limil.org/Homa.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'base.css'%}">

</head>
<body>

{% block header %}

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
      <label class="navbar-brand" >بازیابی اطلاعات ۱۳۹۸</label>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% block navigation %}

          {% endblock %}
        </ul>
      </div>
    </nav>

{% endblock %}


<div class="container" id="main_content">
{% block content %}

{% endblock %}
</div>



{% block footer %}
{% endblock %}



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>