{% extends "base.html" %}

{% block navigation %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url "search" %}">خانه <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url "news_list" %}">لیست اخبار <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <h1>
        {{ news.title }}
    </h1>
    <p>
        {{ news.publish_date }}
    </p>
    <br>
    {{ news.content | safe }}
    <br>
    <img alt={{ news.thumbnail }}, src={{ news.thumbnail }}>
{% endblock %}