{% extends "base.html" %}

{% load search_extras %}

{% block navigation %}
    <li class="nav-item active">
            <a class="nav-link" href="{% url "search" %}">خانه <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}


{% block content %}

    <div class="jumbotron">

    {% for news in news_list %}
        <div class="card">
                <div class="card-body">

                    <h3><a href="{% url 'news_detail' pk=news.pk %}">{{ news.title }}</a></h3>


                    <div class="date">
                        <p> تاریخ انتشار: {{news.publish_date|date:"D d M Y"| farsi_date}}</p>
                    </div>

                    <p>
                        {{ news.summary }}
                    </p>
                </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}