{% extends "base.html" %}

{% load search_extras %}

{% block navigation %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url "search" %}">خانه <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="{% url "news_list" %}">لیست اخبار <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <h1>
        {{ news.title }}
    </h1>
    <p>
    تاریخ انتشار:
        {{ news.publish_date |date:"D d M Y"| farsi_date}}
    </p>
    <div class="container d-flex justify-content-center">
        <img alt={{ news.thumbnail }}, src={{ news.thumbnail }}>
    </div>


    <div class="jumbotron" id="news_image">
    <br>
    {{ news.content | safe | highlight_text:words }}
    <br>
    </div>
{% endblock %}